

body {
	padding: 0 0 30px 0;
	margin: -30px 0 0 0;
	background: radial-gradient(orange, red);
	font-family: Orbitron;
	transform: scale(.9);
}

h1 {
	text-align: center;
	text-shadow: 2px 2px 8px rgba(0,0,0,.4);
	font-style: italic;
}

#title {
	font-size: 120%;
}

.container {
	padding: .5em 0;
	display: grid;
	grid-template-columns: 6.5em 6.5em 6.5em;
	grid-template-rows: 6.5em 6.5em 6.5em;
	grid-gap: 1em;
	justify-content: center;
	
}

.counters {
	grid-template-columns: 6.5em 6.5em 6.5em;
	grid-template-rows: 6.5em;
}


.ais{
	grid-template-columns: 21.5em;
	grid-template-rows: 6.5em;
	padding-bottom: 20px;
}

.ais2{
	grid-template-columns: 21.5em;
	grid-template-rows: 6.5em;
	padding-top: 20px;
}


.box {
	background-color: black;
	color: red;
	border-radius: 0.5em;
	padding: 1em;
	font-size: 1.8em;
	text-align: center;
	transition: background-color .15s, color .15s;
	box-shadow: 10px 10px 10px 0px rgba(0,0,0,.4),
	-10px 10px 10px 0px rgba(0,0,0,.4);
}

.box:hover {
	cursor: pointer;
	background-color: #300;
	color: orange;
	transition: background-color .15s, color .15s;
}

.box:active {
	transform: scale(.98);
	box-shadow: 8px 8px 10px 0px rgba(0,0,0,.4),
	-8px 8px 10px 0px rgba(0,0,0,.4);
	
}

#header {
	padding: 10px 10px 40px 10px;
	font-size: 90%;
}

.off {
	color: rgba(255,0,0,.0);
}

#player, #computer {
	border: solid rgba(255,0,0,.7);
	cursor: default;
	background-color: #000;
}

.off:hover {
	color: rgba(255,0,0,.0);
}

@media (max-width: 768px){
	body {
		margin-top: -230px;
		transform: scale(.6);
	}
}